/* --- Global Styling --- */

@import url(//fonts.googleapis.com/css?family=Montserrat);

/* --- Home Page --- */

.school-work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-card {
    border: 1px solid;
    max-width: 600px;
    width: 100%;
}

#work-img {
    width: 30%;
    height: auto;
}

/* --- Media Queries --- */

@media only screen and (max-width: 380px) {

}

/* Tablet */

@media only screen and (min-width: 880px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* Laptop */

@media only screen and (min-width: 1200px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* For Desktop */

@media only screen and (min-width: 1600px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* Bigger Monitors */

@media only screen and (min-width: 2000px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* --- Media Queries End --- */