/* --- Global Styling --- */

@import url(//fonts.googleapis.com/css?family=Montserrat);

* {
    font-family: "Montserrat", "sans-serif";
}

/* --- Header --- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343d46;
    color: #aaa9ad;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343d46;
    color: #aaa9ad;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 150px;
}

a, a:active, a:visited {
    text-decoration: none;
}

a:active {
    color: rgb(51, 51, 51);
}

/* --- Home Page --- */

.school-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 150px;
}

.work-card {
    border: 1px solid;
    max-width: 600px;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 #14181b;
    transition: 0.5s;
    background-color: #aaa9ad;
}

.work-card img {
    width: 100%;
    height: auto;
}

.work-card:hover {
    max-width: 700px;
    width: 100%;
    box-shadow: 0 16px 24px 0 #14181b;
}

#project-text {
    text-align: center;
    margin-top: 150px;
}

/* --- Media Queries --- */

@media only screen and (max-width: 380px) {

}

/* Tablet */

@media only screen and (min-width: 880px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* Laptop */

@media only screen and (min-width: 1200px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* For Desktop */

@media only screen and (min-width: 1600px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* Bigger Monitors */

@media only screen and (min-width: 2000px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* --- Media Queries End --- */