/* --- Global Styling --- */

@import url(//fonts.googleapis.com/css?family=Montserrat);

* {
    font-family: "Montserrat", "sans-serif";
}

/* --- Header --- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 150px;
}

a, a:active, a:visited {
    text-decoration: none;
}

a:active {
    color: rgb(51, 51, 51);
}

/* --- Home Page --- */

.school-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.work-card {
    border: 1px solid;
    max-width: 600px;
    width: 100%;
    background-color: #e7ecf1;
}

.work-card img {
    width: 100%;
    height: auto;
}

#project-text {
    text-align: center;
    margin-top: 150px;
}

/* --- Media Queries --- */

@media only screen and (max-width: 380px) {

}

/* Tablet */

@media only screen and (min-width: 880px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* Laptop */

@media only screen and (min-width: 1200px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* For Desktop */

@media only screen and (min-width: 1600px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* Bigger Monitors */

@media only screen and (min-width: 2000px) {
    .paginationMobile, #prevButtonMobile, #nextButtonMobile {
        display: none;
    }
}

/* --- Media Queries End --- */